/* 1.---------------------------------------------
                Template default css
------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Rubik', sans-serif;
    color: #212121;
    overflow-x: hidden;
}

img {
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: inline-block;
    outline: 0;
}

a:hover {
    text-decoration: none;
    outline: 0;
}

ul,
li,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
a {
    margin: 0;
    padding: 0;
}

p {
    font-family: ;
    text-transform: capitalize;
    color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    color: #2c2c2c;
}


a:focus,
.button:focus,
.btn:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.overflow {
    overflow: hidden;
}

/* 2.-------------------------------------------
                    Header Part
-----------------------------------------------*/

.fan_register {
    margin: 50px 0;
    overflow-x: hidden;
}

.form {
    padding: 30px 45px;
    background-color: #f2f7f8;
    box-shadow: 0px 0px 136px 0px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}

.nav-tabs {
    border: 0;
    display: inline-flex;
}

.nav-tabs .nav-link {
    color: #202030;
    border: 0;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
}

.nav-tabs .nav-link.active {
    color: #7c5ebf;
    position: relative;
    background: none;
}

.nav-tabs .nav-link.active:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #7c5ebf;
}

.sign_in form .form-control {
    margin: 0 auto 20px;
}

form .form-control {
    color: #b8b8b8;
    font-size: 14px;
    padding: 10px 10px;
    margin-bottom: 20px;
    text-transform: capitalize;
    border-color: #ddd;
}

form select.form-control {
    color: #625c55;
    position: relative;
}

form select.form-control:focus {}

form select.form-control:after {
    content: "\f078";
    position: absolute;
    right: 15px;
    top: 12px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    pointer-events: none;
}

form .form-control:focus {
    outline: 0;
    box-shadow: none;
    border-color: #ddd;
}

label {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
}

.upload {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background: #e5e5e5;
    background-size: 100% 100%;
    margin: 10px auto 30px;
    position: relative;
}

.upload:after {
    position: absolute;
    content: '\f03e';
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
    color: #eee;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.file {
    position: absolute;
    bottom: 25px;
    right: -7px;
    outline: none;
    color: transparent;
    width: 40px;
}

.file::before {
    content: '\f030';
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 18px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    color: #ffff;
    background: #7c5ebf;
    display: inline-block;
    -webkit-user-select: none;
    z-index: 999;
    cursor: pointer;
}

.upload input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
}

.upload span {
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translate(-50%);
}

.button p a {
    color: #2c2c2c;
    padding-top: 10px;
    text-transform: capitalize;
}

.button p a:hover {
    color: #7c5ebf;
}

.btn {
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    background: #7c5ebf;
    border: 1px solid #7c5ebf;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -os-transition: all linear .3s;
    -ms-transition: all linear .3s;

}

.btn:hover {
    background: #fff;
    color: #7c5ebf;
}

.fan_benefits h3 {
    font-size: 24px;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.fan_benefits ul li {
    color: #6d6f6f;
    font-size: 16px;
    text-transform: capitalize;
    padding-bottom: 10px;
    padding-left: 50px;
    position: relative;
    font-family: 'Rubik', sans-serif;
}

.fan_benefits ul li:after {
    position: absolute;
    content: '';
    left: 30px;
    top: 10px;
    height: 5px;
    width: 5px;
    background: #7c5ebf;
    border-radius: 50%;
}

.fan_benefits p {
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.fan_benefits a {
    color: #7c5ebf;
}

@media only screen and (max-width:500px) {
    .container {
        width: 100%;
    }

    .form {
        padding: 30px 20px;
    }

    .fan_benefits h3 {
        font-size: 22px;
        padding-bottom: 15px;
    }

    .fan_benefits ul li {
        font-size: 14px;
        padding-left: 30px;
    }

    .fan_benefits ul li:after {
        left: 15px;
        top: 7px;
    }
    .fan_benefits p {
        padding-top: 0;
    }
}













/*================*/
